.add-feed-button{
    border-radius: 50%;
    position: fixed;
    bottom: 10vh;
    right: 6vw;
    background-color: #e3ddddc2;
    border-color: #e3ddddc2;
}

.plus-icon{
    font-size: 2em;
}

.feed-post-card{
    background-color: #d2a1a1;
    width: 100%;
    margin: 8px;
    
}

.feed-post-three-dots{
    position: absolute;
    right: 15px;
    top: 10px;
}

.feed-post-three-dot-empty{
    margin-left: 70%;
}
.feed-post-text-owner{
    margin-left: 5px;
    font-weight: 900;
}
.feed-post-one-post{
    display: flex;
    justify-content: center;

}

.feed-post-text{
    text-align: left;
    color:black;
    margin: 0;
}

.feed-post-amout-likes{
    text-align: left;
    margin: 0px;
    margin-left: 12px;
    /* margin-top: -10px; */
}

.feed-post-text-content{
    margin: 5px 12px 5px 12px;
    color: whitesmoke;
}

.feed-post-text-comments{
    color: whitesmoke;
    margin: 0px 12px 22px 12px;
    
}
.feed-post-comment-green{
    color: #5f9f4d;
}

.feed-post-profile-picture{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.feed-post-card-body{
    margin-bottom: 10px;
    padding:0;
    /* height: 80px; */

}
.feed-post-image{
    width: inherit;
    height: 350px;
}

.feed-post-comment-heart{
    text-align: left;
    margin: 10px 10px 0px 10px;
    font-size: 1.5em;
}

.feed-post-comment{
    margin-left: 15px;
}

.feed-post-heart-red{
    color:rgb(255, 74, 74);
}
.feed-post-owner-comment-div {
    display: flex;
    justify-content: space-between;
}