.timestamp{
    margin-bottom: 0;
}
.ForumPost{
    margin-bottom: 1rem;
}
.forum-postcard{
    color: whitesmoke;
    background-color: #eb6f6d;
}
.forumLink{
    color: whitesmoke;
}
.forum-text{
    margin-bottom: 0;
    text-align: left;
}