.timestamp{
    margin-bottom: 0;
}
.titel{
    font-size: 1.50rem;
}
.form-controll{
    border-radius: 0;
}
.ForumPost{
    margin-bottom: 1rem;
}
.Postcard{
    color: black;
    margin: 25px 0px;
    background-color: whitesmoke;
}
.forumLink{
    color: black;
}
.add-filter-btn{
    position: sticky;
    top: 0;
    z-index: 100;
}
.cardbody{
    padding-left: 0;
    padding-right: 0;
}