.timestamp{
    margin-bottom: 0;
}

.titel{
    font-size: 1.50rem;
}
.form-controll{
    border-radius: 0;
}
.ForumPost{
    margin-bottom: 1rem;
}
.Postcard{
    color: black;
}
.forumLink{
    color: black;
}