.chat-message-receiver{
    display: flex;
    justify-content: flex-end;
}

.bubble-receiver{
    background-color: rgb(139, 29, 29);
    word-break: break-word;
    border-radius: 5px;
    color: rgb(214, 214, 214);
    text-align: left;
    box-shadow: 0 0 6px rgb(163, 49, 49);
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble-receiver::before {
    background-color: rgb(139, 29, 29);
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.receiver {
    float: right;    
    margin: 5px 20px 5px 45px;         
}

.receiver::before {
    box-shadow: 2px -2px 2px 0 rgb(163, 49, 49);
    right: -9px;    
}