.preview-info{
    text-align: left;
    margin-top: -38%;
    z-index: 5;
    position: relative;
    padding-top: 10vh;

}

.name-age{
    display: flex;
}

.carousel-img{
    width: 130vw;
    margin-left: -15vw;
}

ol {
    bottom: auto !important;
}



